<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Active Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/flat-ui.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
<style>
.center {
text-align:center;
float: center;
margin-left: auto;
margin-right:auto;  
}
.halfCircleBottom{
     height:30;
     width:60px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     background:#1ABC9C;
}
.btn.btn-primary{
background-color:#95A5A6;
}

.right {

float:right;
}
  </style>
  </head>


  <body>

