<html>
	<body>
{{ state }}


<style>
		body{
				background-image:url('http://i.imgur.com/ALso9Pw.jpg'); 

	font-color:#FFFFFF;
	}
		#copy { font-color:#FFFFFF;
				background-color: #1ABC9C;
max-width:35%;

		}
</style>
<div class="container text-center">
		<p>
		<div id="copy">
				<br>
				<h1 text-align:center font-color:#FFFFFF> Welcome to Beacon. </h1>
		<form action="/login/" method="post">
			{% csrf_token %}	
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			
			username:
			<input type = "text" name = "username" value = "{{ username }}" />
			</br>

			password:
			<input type = "password" name = "password" value = "" />
			</br>

			<input type = "submit" value = "Log In" />
</form>
<br>		
</div>
		</p>

</body>
</html>
