<html>
<head>
</head>

<body>

<div align="center">
<table>
<tr>
<td>
<div align="left">
<br><img src="blankface.jpeg" alt="photo" width="304"><br>
</div>
</td>
<td>
<br>
<div align="left">
<br>
&nbsp&nbspMost guessed ethnicity for this picture: <br><br>
&nbsp&nbspMost guessed region for this picture: <br><br>
&nbsp&nbspMost guessed country for this picture: <br><br>
&nbsp&nbspMost guessed age for this picture: <br><br>
</div>
<br>
</td>
</tr>
<tr>
<td>
</td>
<td>
<div align="center">
<br><h1><a href="photoGuessing.html">Next</a></h1><br>
</div>
</td>
</tr>

</table>
</div>
</body>
</html>