<html>
<head>
</head>
<body>
<center>
<br><img src="blankface.jpeg" alt="photo" width="304"><br>
<br><br>
</center>

<form name="myform" action="" method="POST">

<div align="center">
<table width="1000">
<tr>
<td>


<tr>
<td valign="top">
<div align="left">
Ethnicity<br><br>
<input type="checkbox" name="asian" value="asian"> Asian<br>
<input type="checkbox" name="africanAmerican" value="africanAmerican"> African American<br>
<input type="checkbox" name="caucasian" value="caucasian"> Caucasian<br>
<input type="checkbox" name="latino" value="latino"> Latino<br>
<input type="checkbox" name="nativeAmerican" value="nativeAmerican"> Native American<br>
<input type="checkbox" name="otherEthnicity" value="otherEthnicity"> Other<br>
</div>
</td>


<td valign="top">
<div align="left">
Region<br>

<br>American<br>
<input type="checkbox" name="northAmerica" value="northAmerica"> North American<br>
<input type="checkbox" name="centralAmerican" value="centralAmerican"> Central American<br>
<input type="checkbox" name="caribbean" value="caribbean"> Caribbean<br>
<input type="checkbox" name="southAmerican" value="southAmerican"> South American<br>

<br>European<br>
<input type="checkbox" name="centralEuropean" value="centralEuropean"> Central European<br>
<input type="checkbox" name="westernEuropean" value="westernEuropean"> Western European<br>
<input type="checkbox" name="easternEuropean" value="easternEuropean"> Eastern European<br>
<input type="checkbox" name="northernEuropean" value="northernEuropean"> Northern European<br>
<input type="checkbox" name="southernEuropean" value="southernEuropean"> Southern European<br>

<br>Asian<br>

<input type="checkbox" name="centralAsian" value="centralAsian"> Central Asian<br>
<input type="checkbox" name="eastAsian" value="eastAsian"> Eastern Asian<br>
<input type="checkbox" name="fareastAsian" value="fareastAsian"> Far Eastern Asian<br>
<input type="checkbox" name="southeastAsian" value="southeastAsian"> Southeastern Asian <br>
<input type="checkbox" name="northeastAsian" value="northeastAsian"> Northeastern Asian <br>
<input type="checkbox" name="northernAsian" value="northernAsian"> Northern Asian <br>
<input type="checkbox" name="southernAsian" value="southernAsian"> Southern Asian<br>
<input type="checkbox" name="westernAsian" value="westernAsian"> Western Asian<br>

<br>Oceania<br>
<input type="checkbox" name="australian" value="australian"> Australian<br>
<input type="checkbox" name="pacificIslands" value="pacificIslands"> Pacific Islands<br>

<br>African<br>
<input type="checkbox" name="northernAfrican" value="northernAfrican"> Northern African <br>
<input type="checkbox" name="subSaharanAfrican" value="subSaharanAfrican"> Sub-Saharan African<br>
<input type="checkbox" name="greaterMiddleEastAfrican" value="greaterMiddleEastAfrican"> Greater Middle East African <br>


</div>
</td>
<td valign="top">
<div align="left">
Country<br>

<br>American<br>
<input type="checkbox" name="Canada" value="Canada"> Canada<br>
<input type="checkbox" name="UnitedStates" value="UnitedStates"> United States<br>
<input type="checkbox" name="Mexico" value="Mexico"> Mexico<br>
<input type="checkbox" name="CostaRica" value="CostaRica"> Costa Rica<br>
<input type="checkbox" name="ElSalvador" value="ElSalvador"> El Salvador<br>
<input type="checkbox" name="Guatemala" value="Guatemala"> Guatemala<br>
<input type="checkbox" name="Honduras" value="Honduras">Honduras <br>
<input type="checkbox" name="Nicaragua" value="Nicaragua"> Nicaragua<br>
<input type="checkbox" name="Panama" value="Panama">Panama <br>
<input type="checkbox" name="Argentina" value="Argentina">Argentina <br>
<input type="checkbox" name="Bolivia" value="Bolivia">Bolivia <br>
<input type="checkbox" name="Brazila" value="Brazil">Brazil <br>
<input type="checkbox" name="Chile" value="Chile">Chile <br>
<input type="checkbox" name="Colombia" value="Colombia">Colombia <br>
<input type="checkbox" name="Ecuador" value="Ecuador">Ecuador <br>
<input type="checkbox" name="Paraguay" value="Paraguay">Paraguay <br>
<input type="checkbox" name="Peru" value="Peru">Peru <br>
<input type="checkbox" name="Uruguay" value="Uruguay">Uruguay <br>
<input type="checkbox" name="Venezuela" value="Venezuela"> Venezuela<br>
<input type="checkbox" name="OtherAmerican" value="OtherAmerican"> Other<br>

<br>European<br>
<input type="checkbox" name="Austria" value="Austria">Austria <br>
<input type="checkbox" name="Belgium" value="Belgium">Belgium <br>
<input type="checkbox" name="France" value="France">France <br>
<input type="checkbox" name="Germany" value="Germany">Germany <br>
<input type="checkbox" name="Netherlands" value="Netherlands">Netherlands <br>
<input type="checkbox" name="Switzerland" value="Switzerland">Switzerland <br>
<input type="checkbox" name="Albania" value="Albania"> Albania<br>
<input type="checkbox" name="Croatia" value="Croatia">Croatia <br>
<input type="checkbox" name="Greece" value="Greece">Greece <br>
<input type="checkbox" name="Italy" value="Italy">Italy <br>
<input type="checkbox" name="Portugal" value="Portugal">Portugal <br>
<input type="checkbox" name="Serbia" value="Serbia">Serbia <br>
<input type="checkbox" name="Spain" value="Spain">Spain <br>
<input type="checkbox" name="Turkey" value="Turkey">Turkey <br>
<input type="checkbox" name="Denmark" value="Denmark">Denmark <br>
<input type="checkbox" name="Finland" value="Finland">Finland <br>
<input type="checkbox" name="Ireland" value="Ireland">Ireland <br>
<input type="checkbox" name="Norway" value="Norway">Norway <br>
<input type="checkbox" name="Sweden" value="Sweden">Sweden <br>
<input type="checkbox" name="UnitedKingdom" value="UnitedKingdom">United Kingdom <br>
<input type="checkbox" name="Hungary" value="Hungary">Hungary <br>
<input type="checkbox" name="Poland" value="Poland">Poland <br>
<input type="checkbox" name="Russia" value="Russia">Russia <br>
<input type="checkbox" name=" Ukraine" value=" Ukraine"> Ukraine <br>
<input type="checkbox" name="OtherEuropean" value="OtherEuropean">Other <br>



<br>Asian<br>

<input type="checkbox" name="China" value="China">China <br>
<input type="checkbox" name="Japan" value="Japan">Japan <br>
<input type="checkbox" name="NorthKorea" value="NorthKorea">North Korea <br>
<input type="checkbox" name="SouthKorea" value="SouthKorea">South Korea <br>
<input type="checkbox" name="Taiwan" value="Taiwan">Taiwan <br>
<input type="checkbox" name="Russia" value="Russia">Russia <br>
<input type="checkbox" name="Afghanistan" value="Afghanistan">Afghanistan <br>
<input type="checkbox" name="Bangladesh" value="Bangladesh">Bangladesh <br>
<input type="checkbox" name="India" value="India">India <br>
<input type="checkbox" name="Iran" value="Iran">Iran <br>
<input type="checkbox" name="Pakistan" value="Pakistan">Pakistan <br>
<input type="checkbox" name="Indonesia" value="Indonesia">Indonesia <br>
<input type="checkbox" name="Malaysia" value="Malaysia">Malaysia <br>
<input type="checkbox" name="Myanmar" value="Myanmar">Myanmar <br>
<input type="checkbox" name="Philippines" value="Philippines">Philippines <br>
<input type="checkbox" name="Thailand" value="Thailand">Thailand <br>
<input type="checkbox" name="Vietnam" value="Vietnam">Vietnam <br>
<input type="checkbox" name="Iraq" value="Iraq">Iraq <br>
<input type="checkbox" name="Israel" value="Israel">Israel <br>
<input type="checkbox" name="SaudiArabia" value="SaudiArabia">Saudi Arabia <br>
<input type="checkbox" name="Syria" value="Syria">Syria <br>
<input type="checkbox" name="Turkey" value="Turkey">Turkey <br>
<input type="checkbox" name="OtherAsian" value="OtherAsian">Other <br>

<br>Oceania<br>
<input type="checkbox" name="Australia" value="Australia">Australia <br>
<input type="checkbox" name="NewZealand" value="NewZealand">New Zealand <br>
<input type="checkbox" name="PapuaNewGuinea" value="PapuaNewGuinea">Papua New Guinea <br>
<input type="checkbox" name="OtherOceania" value="OtherOceania"> Other<br>

<br>African<br>
<input type="checkbox" name="Ethiopia" value="Ethiopia">Ethiopia <br>
<input type="checkbox" name="Kenya" value="Kenya">Kenya <br>
<input type="checkbox" name="Mozambique" value="Mozambique"> Mozambique<br>
<input type="checkbox" name="Rwanda" value="Rwanda">Rwanda <br>
<input type="checkbox" name="Uganda" value="Uganda">Uganda <br>
<input type="checkbox" name="Angola" value="Angola">Angola <br>
<input type="checkbox" name="Cameroon" value="Cameroon">Cameroon <br>
<input type="checkbox" name="Congo" value="Congo">Congo, Dem. Rep. <br>
<input type="checkbox" name="Egypt" value="Egypt">Egypt <br>
<input type="checkbox" name="Morocco" value="Morocco">Morocco <br>
<input type="checkbox" name="Sudan" value="Sudan">Sudan <br>
<input type="checkbox" name="SouthAfrica" value="SouthAfrica">South Africa <br>
<input type="checkbox" name="Ghana" value="Ghana">Ghana <br>
<input type="checkbox" name="Nigeria" value="Nigeria">Nigeria <br>
<input type="checkbox" name="Senegal" value="Senegal">Senegal <br>
<input type="checkbox" name="OtherAfrican" value="OtherAfrican"> Other<br>


</div>
</td>

<td valign="top">


<div align="left">
Age<br><br>

<input type="radio" name="age" value="lessThan12"> Less than 12<br>
<input type="radio" name="age" value="12-18"> 12-18<br>
<input type="radio" name="age" value="19-30"> 19-30<br>
<input type="radio" name="age" value="31-45"> 31-45<br>
<input type="radio" name="age" value="46-60"> 46-60<br>
<input type="radio" name="age" value="moreThan60"> More than 60<br>

</div>
</td>




</tr>

</td>
</tr>
<tr>
<td>

<br><h1><a href="photoStatistics.html">Stats</a></h1><br> 
</td>
<td>
</td>
<td>
</td>
<td>
<br><h1><a href="photoGuessing.html">Next</a></h1><br>

</td>
</tr>
</table>
</div>

</form>


</body>
</html>
