<html>
<head>
</head>
<body>
<center>
<br><img src="blankface.jpeg" alt="photo" width="304"><br>
<br><br>
</center>

<form name="myform" action="" method="POST">

<div align="center">
<table width="1000">
<tr>
<td>


<tr>
<td valign="top">
<div align="left">
Ethnicity<br><br>
<input type="checkbox" name="asian" value="asian"> Asian<br>
<input type="checkbox" name="africanAmerican" value="africanAmerican"> African American<br>
<input type="checkbox" name="caucasian" value="caucasian"> Caucasian<br>
<input type="checkbox" name="latino" value="latino"> Latino<br>
<input type="checkbox" name="nativeAmerican" value="nativeAmerican"> Native American<br>
<input type="checkbox" name="otherEthnicity" value="otherEthnicity"> Other<br>
</div>
</td>


<td valign="top">
<div align="left">
Region<br>

<br>American<br>
<input type="checkbox" name="northAmerica" value="northAmerica"> North American<br>
<input type="checkbox" name="centralAmerican" value="centralAmerican"> Central American<br>
<input type="checkbox" name="caribbean" value="caribbean"> Caribbean<br>
<input type="checkbox" name="southAmerican" value="southAmerican"> South American<br>

<br>European<br>
<input type="checkbox" name="centralEuropean" value="centralEuropean"> Central European<br>
<input type="checkbox" name="westernEuropean" value="westernEuropean"> Western European<br>
<input type="checkbox" name="easternEuropean" value="easternEuropean"> Eastern European<br>
<input type="checkbox" name="northernEuropean" value="northernEuropean"> Northern European<br>
<input type="checkbox" name="southernEuropean" value="southernEuropean"> Southern European<br>

<br>Asian<br>

<input type="checkbox" name="centralAsian" value="centralAsian"> Central Asian<br>
<input type="checkbox" name="eastAsian" value="eastAsian"> Eastern Asian<br>
<input type="checkbox" name="fareastAsian" value="fareastAsian"> Far Eastern Asian<br>
<input type="checkbox" name="southeastAsian" value="southeastAsian"> Southeastern Asian <br>
<input type="checkbox" name="northeastAsian" value="northeastAsian"> Northeastern Asian <br>
<input type="checkbox" name="northernAsian" value="northernAsian"> Northern Asian <br>
<input type="checkbox" name="southernAsian" value="southernAsian"> Southern Asian<br>
<input type="checkbox" name="westernAsian" value="westernAsian"> Western Asian<br>

<br>Oceania<br>
<input type="checkbox" name="australian" value="australian"> Australian<br>
<input type="checkbox" name="pacificIslands" value="pacificIslands"> Pacific Islands<br>

<br>African<br>
<input type="checkbox" name="northernAfrican" value="northernAfrican"> Northern African <br>
<input type="checkbox" name="subSaharanAfrican" value="subSaharanAfrican"> Sub-Saharan African<br>
<input type="checkbox" name="greaterMiddleEastAfrican" value="greaterMiddleEastAfrican"> Greater Middle East African <br>


</div>
</td>
<td valign="top">
<div align="left">
Country<br><br>

<input type="checkbox" name="country1" value="country1"> Country1<br>
<input type="checkbox" name="country2" value="country2"> Country2<br>
<input type="checkbox" name="country3" value="country3"> Country3<br>

</div>
</td>

<td valign="top">


<div align="left">
Age<br><br>

<input type="radio" name="age" value="lessThan12"> Less than 12<br>
<input type="radio" name="age" value="12-18"> 12-18<br>
<input type="radio" name="age" value="19-30"> 19-30<br>
<input type="radio" name="age" value="31-45"> 31-45<br>
<input type="radio" name="age" value="46-60"> 46-60<br>
<input type="radio" name="age" value="moreThan60"> More than 60<br>

</div>
</td>




</tr>

</td>
</tr>
<tr>
<td>

<br><h1><a href="photoStatistics.html">Stats</a></h1><br> 
</td>
<td>
</td>
<td>
</td>
<td>
<br><h1><a href="photoGuessing.html">Next</a></h1><br>

</td>
</tr>
</table>
</div>

</form>


</body>
</html>