{% include 'header.html' %}

<center>
<img src="/media/{{ photo_user.photo }}"  alt="photo" height="400" width="350">
</br>

<h3>{{ question.text }}</h3>
</br>

<script type="text/javascript">
	function submit_answer(){
		document.getElementById("submit_answer").submit();	
	}
	
	function skip_answer(){
		document.getElementById("skip_answer").submit();
	}	
</script>

<form id="submit_answer" action="/PlayGameAnswer/" method="POST">{% csrf_token %}
	<input type="hidden" name="photo_user_id" value="{{ photo_user.id }}"/>
	<input type="hidden" name="question_type" value="{{ question.id }}"/>
	<input type="hidden" name="answer_id" value="{{ answer_id }}"/>	
	{{ form.as_p }}
</form>

<form id="skip_answer" action="/PlayGame/" method="POST">{% csrf_token %}
	<input type="hidden" name="photo_user_id" value="{{ photo_user.id }}"/>
	<input type="hidden" name="question_type" value="{{ question.id }}"/>
	<input type="hidden" name="answer_id" value="{{ answer_id }}"/>
	<input type="hidden" name="skipped" value="True"/>
</form>

<button class="" name="submit" type="submit" onclick="submit_answer()">
submit
</button>

<button class="" name="skip" type="submit" onclick="skip_answer()">
skip
</button>

</br>
<a href="/home/">Quit</a>
</center>
{% include 'footer.html' %}
