<!DOCTYPE html>
<html>
  <head>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <link media='screen' href='bootstrap/css/bootstrap.min.css' rel='stylesheet' />
  </head>
  <body>
    <div class='btn-group'>
      <button class='btn'>Left</button>
      <button class='btn'>Middle</button>
      <button class='btn'>Right</button>

      <script src='http://code.jquery.com/jquery.js'></script>
      <script src='bootstrap/js/bootstrap.min.js'></script>
    </div>
  </body>
</html>
